* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgray;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.black {
  background-color: black;
  position: absolute;
  height: 200px;
  width: 200px;
}

#top-left {
  top: 0px;
  left: 0px;
}

#top-right {
  top: 0px;
  right: 0px;
}

#bot-left {
  bottom: 0px;
  left: 0px;
}

#bot-right {
  bottom: 0px;
  right: 0px;
}

button {
  border-radius: 10px;
  border: none;
  margin: 10px 0px 0px 10px;
  padding: 10px;
}

#but1 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
}

#but2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
button a {
  color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
