* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgray;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#txt1 {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
  height: 200px;
  width: 1000px;
}

#txt2 {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  background-color: black;
  height: 200px;
  width: 1000px;
}
#uppercase {
  padding: 20px;
  text-transform: uppercase;
  text-align: right;
  font-size: 20px;
  color: white;
}

#lowercase {
  overflow-y: scroll;
  padding: 20px;
  text-align: right;
  font-size: 20px;
  color: white;
  height: 157px;
  border: 2px solid red;
}

button {
  border-radius: 10px;
  border: none;
  margin: 10px 0px 0px 10px;
  padding: 10px;
}

button a {
  color: black;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
